[submodule "third_party/SDL3"]
	path = third_party/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
